@media(max-width: 2560px ){

}
@media(max-width: 1920px ){
}
@media(max-width:1800px){

}
@media(max-width:1680px){

}
@media(max-width:1440px){

}
@media(max-width:1366px){

}
@media(max-width:1280px){
    .header_pr {
        font-size: 29px;
        padding: 0 0 40px 30px;
    }
}
@media(max-width:1080px){

}
@media(max-width:1024px){

}
@media(max-width:991px){
    .header_pr {
        font-size: 27px;
        padding: 0 0 39px 30px;
    }
    .header_hr {
        font-size: 100px;
        font-weight: bold;
        padding: 72px 0 57px 26px;
    }

}
@media(max-width:812px){
    .header_hr {
        font-size: 90px;
        font-weight: bold;
        padding: 38px 0 32px 26px;
    }
    .header_img {
        width: 100%;
        height: 447px;
    }
}
@media(max-width:667px){
    .header_hr {
        font-size: 94px;
        font-weight: bold;
        padding: 60px 0 18px 25px;
    }
    .header_img {
        width: 100%;
        height: 446px;
    }

}
@media(max-width:540px){
    .header_pr {
        font-size: 27px;
        padding: 0 0 3px 30px;
    }
}
@media(max-width:484px){
    .header_hr {
        font-size: 65px;
        padding: 47px 0 44px 19px;
    }
    .header_img {
        width: 100%;
        height: 411px;
    }
    .btn_pt {
        padding-left: 26px;
    }
    .btn {
        border-radius: 20px;
        padding: 9px 40px;
        font-size: 16px;
    }

}
@media(max-width:420px){
    .header_hr {
        font-size: 62px;
        padding: 52px 0 47px 26px;
    }
    .header_img {
        height: 444px;
    }
    .header_pr {
        font-size: 18px;
        padding: 0 0 37px 29px;
    }
    .btn_pt {
        padding-left: 24px;
    }

}
@media(max-width:375px){
    .header_hr {
        font-size: 44px;
        padding: 43px 0 10px 23px;
    }
    .header_pr {
        font-size: 15px;
        padding: 0 0 21px 30px;
    }
    .btn {
        border-radius: 8px;
        padding: 7px 21px;
        font-size: 11px;
    }
    .img-fluid {
        max-width: 59%;
    }
    .header_img {
        width: 100%;
        height: 301px;
    }
    .nav-link {
        font-size: 13px;
    }

}